<mat-toolbar color="primary">
  <span>INFO5059 - {{ title }}</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
  <mat-icon>menu</mat-icon>
  </button>
 </mat-toolbar>
 <mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['home']" (click)="setTitle('home')">home</a>
  <a mat-menu-item [routerLink]="['employees']" (click)="setTitle('employees')">employees</a>
  <a mat-menu-item [routerLink]="['expenses']" (click)="setTitle('expenses')">expenses</a>
  <a mat-menu-item [routerLink]="['generator']" (click)="setTitle('generator')">generator</a>
  <a mat-menu-item [routerLink]="['viewer']" (click)="setTitle('viewer')">viewer</a>
</mat-menu>
 <router-outlet></router-outlet>