<form [formGroup]="expenseForm" novalidate>
    <mat-accordion>
    <mat-expansion-panel expanded>
    <mat-expansion-panel-header class="my-primary-text">
    <mat-panel-title>
    Expense Information
    </mat-panel-title>
    </mat-expansion-panel-header>
    <div layout="row">
    <mat-form-field>
    <mat-select
    placeholder="Employee"
    formControlName="employeeid"
    value="employeeid"
    id="employeeid"
    >
    <mat-option *ngFor="let employee of employees" [value]="employee.id">{{
    employee.lastname
    }}</mat-option>
    </mat-select>
    <mat-error
    flex
    *ngIf="employeeid.errors && (employeeid.dirty || employeeid.touched)"
    align="end"
    >
    <p align="end" mat-pad-xs *ngIf="employeeid.hasError('required')">
    Choose Employee
    </p>
    </mat-error>
    </mat-form-field>
    </div>
    <br />
    <div layout="row">
    <mat-form-field>
    <mat-select
    placeholder="Expense Category"
    formControlName="categoryid"
    value="categoryid"
    >
    <mat-option [value]="" disabled selected>Category</mat-option>
    <mat-option [value]="'TRAV'">Travel</mat-option>
    <mat-option [value]="'LDG'">Lodging</mat-option>
    <mat-option [value]="'PARK'">Parking</mat-option>
    <mat-option [value]="'MEAL'">Meals</mat-option>
    <mat-option [value]="'MISC'">Miscellaneous</mat-option>
    <mat-option [value]="'OTH'">Other</mat-option>
    <mat-option [value]="'TUI'">Tuition</mat-option>
    </mat-select>
    <mat-error
    flex
    *ngIf="categoryid.errors && (categoryid.dirty || categoryid.touched)"
    align="end"
    >
    <p align="end" mat-pad-xs *ngIf="categoryid.hasError('required')">
    Choose a Category
    </p>
    </mat-error>
    </mat-form-field>
    </div>
    <br />
    <div layout="row">
    <mat-form-field flex>
    <input
    matInput
    placeholder="Description"
    type="text"
    formControlName="description"
    />
    <mat-error
    *ngIf="description.errors && (description.dirty || description.touched)"
    align="end"
    >Description is required
    </mat-error>
    </mat-form-field>
    </div>
    <div layout="row">
    <mat-form-field flex>
    <input
    matInput
    placeholder="Amount"
    type="text"
    formControlName="amount"
    />
    <mat-error
    *ngIf="amount.errors && (amount.dirty || amount.touched)"
    align="end"
    >
    <p *ngIf="amount.hasError('required')">Amount is required.</p>
    <p *ngIf="!amount.hasError('required') && amount.hasError('invalidDecimal')">needs format -
        XX.XX</p>
    </mat-error>
    </mat-form-field>
    </div>
    <div layout="row">
    <mat-form-field flex>
    <input
    matInput
    placeholder="Date Incurred"
    type="date"
    formControlName="dateincurred"
    />
    <mat-error
    *ngIf="
    dateincurred.errors && (dateincurred.dirty || dateincurred.touched)
    "
    align="end"
    >
    Date is required
    </mat-error>
    </mat-form-field>
   </div>
   <div layout="row">
    Receipt?
    <mat-checkbox formControlName="receipt" (change)="setReceipt()"></mat-checkbox>
    </div>
    <br/>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="selectedExpense.receipt">
        <mat-expansion-panel-header class="my-primary-text">
        <mat-panel-title>
        Receipt Information
        </mat-panel-title>
        </mat-expansion-panel-header>
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="selectFile($event)" #fileInput type="file" id="receiptfile"
       name="receiptfile">
        <div style="padding-top:15%">
        <img *ngIf="selectedExpense.receiptscan !== null" src={{selectedExpense.receiptscan}} />
        </div>
        </mat-expansion-panel>
        </mat-accordion>
        <br />
    <br />
    <div class="mat-pad-sm">
    <span>
    <button
    mat-raised-button
    [disabled]="!expenseForm.valid"
    type="button"
    (click)="updateSelectedExpense()"
    >
    Save
    </button>
    </span>
    <span>
        <button *ngIf="selectedExpense.id" mat-raised-button type="button"
       (click)="openDeleteDialog(selectedExpense)">Delete</button>
        </span>
    <span>
    <button
    mat-raised-button
    type="button"
    (click)="cancelled.emit(selectedExpense)"
    >
    Cancel
    </button>
    </span>
    </div>
   </form>